* {
	margin: 0px;
	font-family: "Œ¢»Ì—≈∫⁄";
}

body {
	margin: 0px;
	background-color: #ffffff;
}

img {
	border: 0;
}

a {
	color: #413f3f;
	text-decoration: none;
}

a:hover {
	color: #413f3f;
}

p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Œ¢»Ì—≈∫⁄";
	font-weight: 400;
}

.Container {
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin: 0;
}

.top {
	position: relative;
	height: 500px;
	width: 100%;
	background: url(../img/map.a76df5.png)center no-repeat #008de1;
	background-size: cover;
}

.top_nav {
	position: absolute;
	min-width: 1200px;
	height: 50px;
	top: 28px;
	left: 50%;
	line-height: 50px;
	margin-left: -600px;
}

.top_nav h1 {
	float: left;
}

.top_nav h1 img {
	height: 28px;
	width: auto;
	border: 0;
}

.top_nav-right {
	width: 250px;
	height: 50px;
	float: right;
	text-align: right;
}

.top_nav-right a {
	color: #FFFFFF;
	margin: 0 5px 0 5px;
}

.top_nav-right span {
	color: #FFFFFF;
}

.btn-security,
.btn-security:hover {
	background-color: #5db423;
}

.btn-sm {
	padding: 7px 14px;
	font-size: 12px;
}

[class*=" btn-"],
[class^=btn-] {
	display: inline-block;
	padding: 8px 17px;
	line-height: 1;
	border: none;
	border-radius: 2px;
	outline: 0;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}

.top_nav_leftimg {
	position: absolute;
	bottom: 0px;
	left: 40px;
	width: 300px;
	height: 300px;
}

.top_nav_leftimg img {
	height: 300px;
	width: auto;
}

.top_nav_rightimg {
	position: absolute;
	bottom: 0px;
	right: 40px;
	width: 300px;
	height: 250px;
}

.top_nav_rightimg img {
	height: auto;
	width: 300px;
}

.top_nav_logo-center {
	position: absolute;
	margin-left: -170px;
	top: 150px;
	width: 340px;
	height: 100px;
	left: 50%;
}

.bottom {
	width: 80%;
	height: 450px;
	min-width: 900px;
	margin: 0 auto;
	background-color: #ffffff;
}

.mapfooter-app {
	padding: 60px;
	height: 190px;
	width: 450px;
	margin: 0 auto;
}

.mapfooter-app .mapfooter-app-image {
	position: relative;
	text-align: center;
	float: left;
}

.mapfooter-app .mapfooter-app-image img {
	padding: 20px;
	border: outset thin darkgrey;
	width: 128px;
	height: 128px;
}

.mapfooter-app .mapfooter-app-image span {
	position: absolute;
	bottom: 0;
	margin-bottom: -6px;
	left: 25px;
	right: 25px;
	background-color: #fff;
	text-align: center;
	color: #999;
}

.mapfooter-app-text {
	padding-left: 40px;
	margin-top: 20px;
	float: right;
	position: relative;
	text-align: left;
	width: 230px;
	height: 120px;
	font-size: 16px;
}

strong {
	font-size: 1.8em;
	font-weight: bold;
}

.color-stress {
	color: #f74342;
}

.mapfooter-link {
	text-align: center;
}

.mapfooter-link a {
	color: #413f3f;
}

.map-footer-separator {
	margin: 0 17px 0 16px;
	color: #413f3f;
	font-style: normal;
}

.footer-copyright {
	width: 80%;
	min-width: 1100px;
	height: 30px;
	text-align: center;
	font-family: "ÀŒÃÂ";
	font-size: 0.98em;
	color: #413f3f;
}

.footer-copyright a {
	font-size: 0.98em;
	color: #413f3f;
}


/*************************À—À˜¿∏œ‡πÿCSS********************************/

.top_map {
	padding: 0;
	position: absolute;
	background-color: #FFFFFF;
	min-width: 640px;
	height: 56px;
	top: 320px;
	left: 50%;
	margin-left: -320px;
}

#search_adress {
	padding: 0;
	padding-left: 10px;
	float: left;
	margin: 0;
	border: 0;
	width: 440px;
	height: 56px;
	background-color: #FFFFFF;
	font-size: 18px;
}

#btn_location {
	text-align: center;
	border: 0;
	margin: 0px;
	float: left;
	cursor: pointer;
	color: #999999;
	font-family: "Œ¢»Ì—≈∫⁄";
	font-size: 1.3em;
	text-align: center;
	width: 80px;
	background-color: #FFFFFF;
	height: 38px;
	border-right: 1px solid #A9A9A9;
	margin-top: 9px;
	position: relative;
}

#btn_search {
	float: right;
	cursor: pointer;
	color: #FFFFFF;
	font-family: "Œ¢»Ì—≈∫⁄";
	font-size: 1.3em;
	text-align: center;
	width: 120px;
	height: 56px;
	background-color: #F74342;
	border: 0;
}

#adress_tip {
	width: 530px;
	height: auto;
	background-color: #FFFFFF;
	position: absolute;
	top: 420px;
	left: 50%;
	z-index: 100;
	margin-left: -319px;
}

#adress_map {
	/*border: 3px #F74342 solid;*/
	display: none;
	width: 800px;
	height: 400px;
	position: absolute;
	left: 50%;
	background: #FFFFFF;
	top: 80px;
	z-index: 99;
	margin-left: -400px;
}


/*À—À˜Ã· æ◊÷ÃÂ…Ë÷√*/

tbody tr td b {
	color: #008DE1;
	font-size: 14px;
	line-height: 18px;
}

#map_text {
	position: relative;
	float: left;
	width: 250px;
	height: 400px;
}

#map_img {
	display: none;
	float: right;
	width: 550px;
	height: 400px;
}

#locaion_text {
	width: 210px;
	height: 200px;
	margin: 20px;
	font-size: 1.2em;
	position: absolute;
	text-align: left;
}

.btn {
	cursor: pointer;
	color: #FFFFFF;
	font-family: "Œ¢»Ì—≈∫⁄";
	font-size: 1.0em;
	text-align: center;
	width: 180px;
	height: 40px;
	background-color: #3fb030;
	border: 0;
	position: absolute;
	-moz-border-radius: 20px;
	/* Gecko browsers */
	-webkit-border-radius: 20px;
	/* Webkit browsers */
	border-radius: 20px;
	/* W3C syntax */
}

#btn_canel {
	bottom: 20px;
	left: 25px;
}

#btn_ok {
	bottom: 80px;
	left: 25px;
}


/*∂®Œªº”‘ÿ∂Øª≠*/

.loading {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
	border: 5px solid lightgreen;
	animation: turn 2s linear infinite;
	-webkit-animation: turn 2s linear infinite;
	-moz-animation: turn 2s linear infinite;
	-ms-animation: turn 2s linear infinite;
}

.loading span {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: lightgreen;
	position: absolute;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
	animation: changeBgColor 2s linear infinite;
	-webkit-animation: changeBgColor 2s linear infinite;
	-ms-animation: changeBgColor 2s linear infinite;
}

@-webkit-keyframes changeBgColor {
	0% {
		background: lightgreen;
	}
	100% {
		background: lightblue;
	}
}

@-webkit-keyframes turn {
	0% {
		-webkit-transform: rotate(0deg);
		border-color: lightgreen;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border-color: lightblue;
	}
}