@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
body{font-family:"微软雅黑"; background-color:#f8f8f8;}
.w{ width:1000px; margin:0 auto; margin-top:20px; }
img{ border:none;}

.select{ width:1000px; height:30px; margin:0 auto; padding-top:10px; font-size:14px; border:1px solid silver; background-color:#f1f1f1;}
.st{ padding-left:20px;color:#666; float:left;}
.select_list ul li{  list-style-type:none; float:left; padding:0px 20px 0px 20px; }
.select_list ul li a{ text-decoration:none;color:#666;}
.fl{border-right:1px solid black;}
.last{ border-right:none;}
.default{ padding-bottom:1px;}

.formCx{ width:1000px; height:40px; margin:0 auto; padding-top:8px;  font-size:14px; background-color:#eaeaea; margin-top:20px; }
.filter_sort{ float:left;  width:254px; margin-left:8px; height:32px; background-color:white; border:1px solid silver;}
.filter_sort li{ cursor:pointer;}
.allsort{ float:left; display:block; text-decoration:none;color:#333; padding:6px 10px; border-right:1px solid silver;}
.on{ background:#eaeaea;}

.filter_sort i{ position:relative;}

.down{ width:10px; height:15px; overflow:hidden; background: url(../images/filter_icon.png) no-repeat 0 0;display: inline-block; position:absolute; top:3px; left:3px; z-index:3;}
.sort_down{ width:10px; height:15px; overflow:hidden; background: url(../images/filter_icon.png) no-repeat -20px 0; display: inline-block; position:absolute; top:3px; left:3px; z-index:3;}

.down_gou{ width:10px; height:15px; overflow:hidden; background: url(../images/filter_icon.png) no-repeat -10px 0;display: inline-block; position:absolute; top:3px; left:3px; z-index:5;}
.sort_gou{ width:10px; height:15px; overflow:hidden; background: url(../images/filter_icon.png) no-repeat -30px 0; display: inline-block; position:absolute; top:3px; left:3px; z-index:5;}
.sort_up{ width:10px; height:15px; overflow:hidden; background: url(../images/filter_icon.png) no-repeat -40px 0; display: inline-block; position:absolute; top:3px; left:3px; z-index:5;}

.goods_list{width:1000px;  margin:0 auto;  }
.goods_list ul li{ list-style-type:none; float:left; display:block; margin-left:18px;  margin-top:18px;}
.product{ width:225px; height:310px; position:relative; background-color:white;border:1px solid silver;}
.p_img img{ width:225px; height:225px;}
.p_info{border-top:1px dashed silver;}
.p_name{ padding:10px; height:15px; overflow:hidden;}
.p_name a{ text-decoration:none; color:black; font-size:14px;}
.p_name a:hover{ text-decoration:none; color:#33CC66; font-size:14px;}
.p_price{ padding-left:10px; padding-top:5px;}
.p_price strong{ font-size:18px; color:#e7380d;}

.addtocar{ width:110px; height:30px; background-color:#33CC66; border-radius:5px; letter-spacing:1px; position:absolute; top:265px; left:100px; cursor:pointer;  display:none;}
.addtocar span{color:white;  margin-top:5px; font-size:14px; line-height:30px; margin-left:20px; }